
@{
 
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="~/Images/@Model.Img" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h4 class="card-title"> Dr : @Model.FullName</h4>
                    <h4 class="card-title"> Phone : @Model.PhoneNumber</h4>
                    <h4 class="card-title"> Email : @Model.Email</h4>
                    <h4 class="card-title"> Special : @Model.Specialiste</h4>

                        <p class="card-text">This is a wider card with additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        <div class="row">
                        <div class="col-7"><a href="/First/Appoit"><button type="button" class="btn btn-secondary">Add Appointment</button></a></div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    } 
 